includeConfig "config/utils.config"

params {
  input_dir          = ""
  output_dir         = ""
  file_type          = "zeiss"  // zeiss or moldev
  decay_time         = 0.5      // the average decay time of a transient
  gSig               = 6        // The expected half size of neurons (height, width)
  rf                 = 40       // The size of patches for the correlation image
  min_SNR            = 3        // Adaptive threshold for transient size
  r_values_min       = 0.85     // Threshold for spatial consistency
  spot_check         = false    // spot check one file, setting to False will loop through all files
  test_image_nums    = null     // select >=1 image to assess via spot check (comma-delim list of numbers); if null, a random file will be used
  test_image_count   = 0        // the number of random images to use for spot check, if test_image_nums is null
}

//-- Extra configs --//
includeConfig "config/process.config"
includeConfig "config/profiles.config"

//-- Functions --//
// Remove trailing forward slashes in a string
def fmtPath(path_str) {
    return path_str.replaceAll(/\/+$/, '')
}

// Limit to the max resources of the available machine
def check_max(obj, type){
    if(type == 'memory'){
        if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1){
            return params.max_memory as nextflow.util.MemoryUnit
        }
    } else if(type == 'time'){
        if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1){
            return params.max_time as nextflow.util.Duration
        }
    } else if(type == 'cpus'){
        if (obj > params.max_cpus as int){
            return params.max_cpus as int
        }
    }
    return obj
}