import java.time.*
Date now = new Date()

manifest {
    name = "auto-demux"
    author = "Nick Youngblut"
    homePage = "https://github.com/arcinstitute/auto-demux"
    description = "Demultiplexing workflow"
    version = "0.1.0"
}

params {
    timestamp = now.format("yyyy-MM-dd_HH-mm-ss")
}

// Define a portable default for singularity_path early to avoid startup warnings
params.singularity_path = (params.singularity_path ?: (System.getenv('LZW_SINGULARITY_PATH') ?: "$PWD/singularity"))


mail {
    from = "multi-omics@arcinstitute.org"
    smtp.host = "chimera-admin"
    smtp.port = 25
}
