import java.time.*
Date now = new Date()

manifest {
    name = "auto-demux"
    author = "Nick Youngblut"
    homePage = "https://github.com/arcinstitute/auto-demux"
    description = "Demultiplexing workflow"
    version = "0.1.0"
}

params {
    timestamp = now.format("yyyy-MM-dd_HH-mm-ss")
}


mail {
    from = "multi-omics@arcinstitute.org"
    smtp.host = "chimera-admin"
    smtp.port = 25
}
